#side_panel_month_calendar{
    display: flex;
}

#side_panel_month_calendar_table td {
    background-color: gray;
    display: flex;
    border: 1px solid;
    padding: 10px;
    margin: 2px, 2px;
    align-content: center;
    justify-content: center;
}

#side_panel_month_calendar_table td{
    display: flex;
    margin: 5px, 5px;
}